/*Standard setup for all HTML elements to define how their heights and widths are calculated, including borders and padding in the total.*/
* {
    box-sizing: border-box;
}

/*Standard setup for the "html" tag, defining how it should behave on my site's screen.*/
html {
    height: 100%;
    width: 100%;
}

/*Standard setup for the "body" tag, defining how it behaves on the site—both as an element itself and in relation to the elements within it—and setting the site's background image.*/
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: url('../img/personal_library.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*Styling class for the site's main title, which is "Personal library".*/
.mainTitleLibrary {
    margin: 1.25rem;
    font-family: "Calligraffitti", cursive;
    font-size: 4rem;
    text-align: center;
    color: #FFFFFF;
}

/*Styling class for warning, error, and "no books" messages when the book table cannot be displayed.*/
.messageWarningErrorNoBooks {
    font-family: "EB Garamond", serif;
    font-size: 2rem;
    color: #FFFFFF;
    text-align: center;
}

/*Standard setup for the main HTML table tags.*/
table, th, tr, td {
    font-family: "EB Garamond", serif;
    font-size: 1.25rem;
    border-collapse: collapse;
    color: #FFFFFF;
}

/*Setting the background color for data cells embedded within table rows.*/
tr td {
    background-color: #C69C6D;
}

/*Styling some elements of the HTML table's external structure.*/
table {
    width: 75%;
    border: none;
    border-collapse: collapse;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 5px 5px 10px #000000;
}

/*Styling HTML table headers—how they will be displayed and structured on the site.*/
th {
    background-color: #4A2E1B;
    color: #FFFFFF;
    text-align: left;
    padding: 16px 20px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

/*Defining the styling and content requirements for data cells in an HTML table.*/
td {
    padding: 10px;
    border-bottom: 1px solid #E9ECEF;
    transition: all 0.3s ease-in-out;
}

/*Animation/styling for HTML table rows containing data when the mouse pointer hovers over them.*/
table tbody tr:hover td {
    background-color: #E8EDF5;
    color: #7F5E46;
}

/*Styling class for the title of the "Save a book" form.*/
.saveBookTitle {
    margin-bottom: 0;
    font-family: "Calligraffitti", cursive;
    font-size: 3rem;
    text-align: center;
    color: #FFFFFF;
}

/*Standard styling class for error, warning, or success messages.*/
.messageSuccessWarningError {
    font-family: "EB Garamond", serif;
    font-size: 1.2rem;
    text-align: center;
}

/*Class to apply the success message color.*/
.success {
    color: #43CA00;
}

/*Class to apply the warning message color.*/
.warning {
    color: #C59B00;
}

/*Class to apply the error message color.*/
.error {
    color: #D32F2F;
}

/*Class to define some styles for the entire container of the save-book form.*/
.formSaveBook {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

/*Styling class for the containers that group the label and input.*/
.labelInputUni {
    width: 75%;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
}

/*Styling for labels located within tags with the class "labelInputUni".*/
.labelInputUni label {
    font-family: "EB Garamond", serif;
    font-size: 1.3rem;
    color: #F0F0F0;
}

/*Styling for inputs located within tags with the class "labelInputUni".*/
.labelInputUni input {
    font-family: "EB Garamond", serif;
    font-size: 1.1rem;
    padding: 0.5rem;
    border: 2px solid #6E6E6E;
    border-radius: 5px;
    outline: none;
    box-shadow: 5px 5px 10px #000000;
}

/*Styling for inputs located within tags with the class "labelInputUni" when they are focused.*/
.labelInputUni input:focus {
    border-color: #4A2E1B;
    box-shadow: 5 5 10px #4A2E1B;
    transform: scale(1.02);
    transition: 0.2s; 
}

/*Styling for inputs with the class "errorInput" located within tags with the class "labelInputUni".*/
.labelInputUni input.errorInput {
    border: 2px solid #BE0000;
}

/*Styling for inputs with the class "errorInput" located within tags with the class "labelInputUni" when they are focused.*/
.labelInputUni input.errorInput:focus {
    border-color: #BE0000 !important;
    box-shadow: 5 5 10px #7B0000;
}

/*Styling for spans with the class "errorMensageInput" located within tags with the class "labelInputUni".*/
.labelInputUni span.errorMensageInput {
    transition: 0.2s;
    font-family: "EB Garamond", serif;
    color: #FF0000;
}

/*Styling for selects located within tags with the class "labelInputUni".*/
.labelInputUni select {
    font-family: "EB Garamond", serif;
    font-size: 1.1rem;
    padding: 0.5rem;
    border: 2px solid #6E6E6E;
    border-radius: 5px;
    color: #767676;
    box-shadow: 5px 5px 10px #000000;
}

/*Styling for selects with the class "errorInput" located within tags with the class "labelInputUni".*/
.labelInputUni select.errorInput {
    border: 2px solid #BE0000;
}

/*Styling for options with the class "optionSelectable" located within tags with the class "labelInputUni".*/
.labelInputUni option.optionSelectable {
    color: #000000;
}

/*Styling class for a container that groups form submit and reset inputs.*/
.submitEraseUni {
    width: 75%;
    margin: 0.5rem;
    display: flex;
    justify-content: space-evenly;
}

/*Styling for inputs located within tags with the class "submitEraseUni".*/
.submitEraseUni input {
    width: 75px;
    padding: 0.4rem;
    border: 2px solid #6e6e6e;
    border-radius: 5px;
    font-family: "EB Garamond", serif;
    font-size: 1.1rem;
    background-color: #ffffff;
    cursor: pointer;
    box-shadow: 5px 5px 10px #000000;
}

/*Styling for inputs located within tags with the class "submitEraseUni" when the mouse pointer hovers over them.*/
.submitEraseUni input:hover {
    transform: scale(1.02);
    transition: 0.2s;
}

/*Styling for form submission inputs located within tags with the class "submitEraseUni" when the mouse pointer hovers over them.*/
.submitEraseUni input[type="submit"]:hover {
    background-color: #baffba;
    border-color: #43ca00;
    box-shadow: 0 0 8px #007b00;
    transition: 0.2s;
}

/*Styling for form reset inputs located within tags with the class "submitEraseUni" when the mouse pointer hovers over them.*/
.submitEraseUni input[type="reset"]:hover {
    background-color: #ffbaba;
    border-color: #d32f2f;
    box-shadow: 0 0 8px #7b0000;
    transition: 0.2s;
}